.modal {
    z-index: 999;
    position: relative;
    background-color: #1c1c21;
    border-radius: 40px;
    border: 1px solid rgba(76, 76, 255, 0.2);
    width: 720px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button {
    top: 74px;
    right: 40px;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}  